<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="https://raw.githubusercontent.com/microsoft/PowerBI-Icons/24f1db8bdfab951c25db591772140d2f4ec5bc1e/SVG/Power-BI.svg" width="70" alt="PowerBI"/>
    <img src="https://img.icons8.com/color/1200/tableau-software.jpg" width="70" alt="Tableau"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matplotlib/matplotlib-original.svg" width="70" alt="Matplotlib"/>
    <p>Proficient in PowerBI, Tableau and Matplotlib, with hands-on experience creating 
      compelling visuals and insightful data visualizations.</p>
  </div>

  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-python-plain colored"></i>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" width ="70" alt="SQL"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-plain.svg" width="70" alt="Matlab"/>
    <p>Skilled in Python, SQL and Matlab, with practical experience in
      managing databases and creating data-driven solutions with artificial intelligence.</p>
  </div>

  <div class="tech">
    <h2>Tools</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg" width="70" alt="Pandas"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg" width="70" alt="NumPy"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/scikitlearn/scikitlearn-original.svg" width="70" alt="Scikit-learn"/>
    <p>Proficient in a range of technologies, including Python libraries such as Pandas, NumPy
      and Scikit Learn, with hands-on experience in data analysis, visualization, 
      and project development.</p>
  </div>
</div>
