<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-photoshop-plain colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matplotlib/matplotlib-original.svg" width="70" alt="Matplotlib"/>
    <p>Proficient in Adobe Photoshop, HTML5, and Matplotlib, with hands-on experience creating 
      compelling visuals and insightful data visualizations.</p>
  </div>

  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-plain.svg" width="70" alt="Matlab"/>
    <p>Skilled in Python, JavaScript, and Matlab, with practical experience in
      managing databases and creating data-driven solutions with artificial intelligence.</p>
  </div>

  <div class="tech">
    <h2>Tools</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg" width="70" alt="Pandas"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg" width="70" alt="NumPy"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/scikitlearn/scikitlearn-original.svg" width="70" alt="Scikit-learn"/>
    <p>Proficient in a range of technologies, including Python libraries such as Pandas, NumPy
      and Scikit Learn, with hands-on experience in data analysis, visualization, 
      and project development.</p>
  </div>
</div>
